name: sembako_app
description: A Flutter app Toko Sembako
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.19.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  shared_preferences: ^2.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/aqua_hd.png
    - assets/images/indomie_hd.png
    - assets/images/chitato_hd.png
    - assets/images/teh_hd.png
    - assets/images/background_hd.png